#usableBody , body, html{
    width: 100%;
    
}
body{
    display: flex;
    background-color: #367c9c;
    margin: 0px;
    padding: 0%;
    justify-content: center;
    
}
#usableBody{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column;
    background-color: bisque;
    padding: 2%;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
h1 {
    font-family: cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
}

.tall_shape{
    display: flex;
    height: 100px;
    width: 30px;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.horizontal_machine_comp{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

#machine_section, #example_machine{
    display: flex;
    width: 100%;
    
}
#example_machine{
    flex-direction: column;
}

#machine_explenation{
    display: flex;
    width: 30%;
}