
#usableBody , body, html{
    width: 100%;
    
}
body{
    display: flex;
    background-color: #367c9c;
    margin: 0px;
    padding: 0%;
    justify-content: center;
    
}
#usableBody{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column;
    background-color: bisque;
    padding: 2%;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
h1 {
    font-family: cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
}

.tall_shape{
    display: flex;
    height: 120px;
    width: 30px;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.horizontal_machine_comp{
    display: inline-flex;
    justify-items: center;
    justify-content: space-between;
}

#machine_section, #example_machine{
    display: flex;
    width: 100%;
    
}
#example_machine{
    flex-direction: column;
}

#machine_explenation{
    display: flex;
    width: 30%;
}
#middle{
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
}
#thirdline{
    display: flex;
    padding-left: 12%;
    padding-right: 24%;
}
#secondline{
    display: flex;
    padding-left: 6%;
    padding-right: 10%;
}
#outputletter{
    display: flex;
    justify-content: center;
}
#control_buttons{
    display: inline-flex;
    
    justify-content: space-around;
}

.upletters{
    writing-mode:vertical-rl;
    align-items: center;  
}
#rototors{
    display: flex;
    align-items: center;
}